.blob-background {
  background: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="m45.3-60.6c13.2 7.9 23.8 21.3 29.7 36.8 5.8 15.6 7 33.2 2.3 49.3s-15.3 30.7-29.2 36.8c-13.8 6.1-31 3.8-47.9 3.5s-33.6 1.4-48.2-4.5-27.1-19.4-30.8-34.8 1.4-32.7 9.6-46.3c8.1-13.6 19.3-23.5 31.4-31.8 12-8.4 24.9-15.2 39.4-17.4 14.4-2.1 30.4.4 43.7 8.4z" fill="%23d1392a" transform="translate(100 100)"/></svg>') no-repeat right center;
  background-size: cover;
  position: absolute;
  top: 35%;
  right: -20%;
  width: 65%;
  height: 90%;
  z-index: 0;
}


