<div class="container p-5 mx-auto lg:my-10 lg:flex lg:flex-row lg:flex-1 lg:gap-8 lg:justify-center lg:flex-wrap">
<app-smartphone class="w-1/5 p-1 lg:w-1/5"></app-smartphone>
<app-smartphone class="w-1/5 p-1 lg:w-1/5"></app-smartphone>
<app-smartphone class="w-1/5 p-1 lg:w-1/5"></app-smartphone>
<app-smartphone class="w-1/5 p-1 lg:w-1/5"></app-smartphone>
<app-smartphone class="w-1/5 p-1 lg:w-1/5"></app-smartphone>
<app-smartphone class="w-1/5 p-1 lg:w-1/5"></app-smartphone>
<app-smartphone class="w-1/5 p-1 lg:w-1/5"></app-smartphone>
<app-smartphone class="w-1/5 p-1 lg:w-1/5"></app-smartphone>
</div>
