<div class="navbar bg-base-100">
  <div class="navbar-start ml-5 mr-5 lg:w-auto lg:ml-14 gap-20">
    <a class="hover:animate-pulse" routerLink="/">
      <img src="/assets/hopla.png" alt="logo" class="lg:w-26 lg:h-20 lg:p-1" />
    </a>
    <a
      class="btn text-white bg-red-500 hover:bg-red-600 font-bold py-2 px-4 rounded-full ml-2"
      routerLink="/smartphones"
      >Smartphones</a
    >
  </div>
  <app-search
    class="navbar-center hidden sm:flex lg:flex flex-1 justify-center"
  ></app-search>
  <div class="navbar-end gap-4 w-auto mr-20">
    <a
      class="btn bg-primary text-white rounded-full font-inter"
      routerLink="/inscrire"
      >Connexion</a
    >
    <div class="relative">
      <a class="btn btn-circle bg-secondary text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          />
        </svg>
      </a>
      <span
        class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-600 rounded-full"
        >{{ nbSmartphones$ | async }}</span
      >
    </div>

    <a class="btn bg-primary text-white btn-circle" routerLink="/cartes">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-credit-card"
      >
        <rect width="20" height="14" x="2" y="5" rx="2" />
        <line x1="2" x2="22" y1="10" y2="10" />
      </svg>
    </a>
  </div>
</div>
