<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
    </div>
    <img src="/assets/hopla.png" alt="logo" class="w-26 h-20 p-1" />
  </div>
  <div class="navbar-center hidden lg:flex">
      <input type="text" placeholder="Rechercher un smartphone..." class="input input-bordered md:w-auto" />
  </div>
  <div class="navbar-end">
    <a class="btn bg-primary">Mon compte</a>
    <a class="btn bg-primary">Panier </a>
  </div>
</div>
