<div class="navbar bg-base-100">
  <div class="navbar-start lg:w-auto">
    <img src="/assets/hopla.png" alt="logo" class="w-26 h-20 p-1" />
  </div>
  <div class="navbar-center hidden lg:flex flex-1 justify-center">
      <input type="text" placeholder="Rechercher un smartphone..." class="input input-bordered w-full max-w-screen-sm mx-auto rounded-full" />
  </div>
  <div class="navbar-end gap-2 lg:w-auto">
    <a class="btn bg-primary text-white">Mon compte</a>
    <a class="btn bg-primary text-white">Panier</a>
  </div>
</div>
